body {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url("../images/metalbg.jpg");
}

.subtitle {
	margin-top: -120px;
}

main {
	margin-bottom: 200px;
	margin-top: 20px;
}
p {
	color: #b8b4b4;
	font-size: 24px;
	font-family: 'Metal Mania', cursive;
}

footer {
	background-color: #152020;
	color: #b8b4b4;
	padding-top: 10px;
