body {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url("../images/metalbg.jpg");
}

p {
	color: #b8b4b4;
	font-size: 24px;
	font-family: 'Metal Mania', cursive;
}

footer {
	background-color: #152020;
	color: #b8b4b4;
	padding-top: 10px;
}

.subtitle {
	margin-top: -120px;
}

.headline p {
	margin-bottom: 80px;
	color: #920505;
	height: 40px;
	font-size: 30px;
}

.videoPanel {
	margin-top: 40px;
}

.panelText {
	margin-bottom: 60px;
}

